body {
    margin: 0px;
    padding: 0px
}

.conttainer {
    padding: 10px;
}

/*-------------------navigation bar ---------------------------*/

.container-fluid {
    background-color: white;
}

#img {
    width: 200px;
    height: 50px
}

#navbarNav ul li a {
    color: black;

}

/*-----------------first section-------------------------*/
.section1 {
    max-width: 1400px;
    margin: auto;
    margin-top: 90px;
    padding: 10px;
}

/*about our firm section*/
.about {
    max-width: 1400px;
    position: relative;
    height: 200px;
}

/*left section*/
.about .left {
    position: absolute;
    max-width: 45%;
    left: 0;
}

.about .left h1 {
    font-family: Plus Jakarta Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    text-transform: capitalize;
}

/*right section*/
.about .right {
    position: absolute;
    max-width: 50%;
    right: 0;
    margin-top: 10px;
}

.about .right p {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

/*div holding the butons*/
.about .right .divbtn a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
}

/*div holding the images*/
.images {
    max-width: 1300px;
    margin: auto;
    position: relative;
    height: 600px;
}

.images div {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    border-radius: 24px;
}

/*image on the left*/
.images .leftimg {
    height: 450px;
    width: 60%;
    left: 0px;
    background-image: url("../images/Rectangle 4665.png");
}

/*img on the right*/
.images .rightimg {
    background-image: url("../images/Rectangle 46.png");
    height: 450px;
    width: 60%;
    right: 0px;
    bottom: 0;
}

/*take a look at our numbers section*/
.takesection {
    margin-top: 120px;
}

.takesection h1 {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.takesection div {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}

.takesection .numbers div {
    width: 300px;
    height: 300px;
    position: relative;
}

.takesection .numbers div h2 {
    font-family: Plus Jakarta Sans;
    font-size: 60px;
    font-style: italic;
    font-weight: 200;
    line-height: 100%;
    color: #F15A29;
}

.takesection .numbers div h3 {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: italic;
    font-weight: 200;
}

.takesection .numbers div p {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    max-width: 200px;
    position: absolute;
    margin-top: 150px
}

/*-------------------div holding the second section----------------------*/
.section2 {
    background-image: url("../images/image22.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: max-content;
    padding: 10px;
}

/*----meet our team------*/
.section2 .team {
    max-width: 1500px;
    margin: auto;
}

.section2 .team h1 {
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
}

/*team profile*/
.team2 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.team2 .card {
    position: relative;
    margin: 20px;
}

.team2 div .title {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: white;
    border-radius: 8px;
    display: inline-flex;
    padding: 12px 24px;
    align-items: flex-start;
}

.team2 div #img {
    background-image: url("../images/prf.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.team2 div #img5 {
    background-image: url("../images/fdgjpg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.team2 div #img55 {
    background-image: url("../images/techleG.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.team2 div #img555 {
    background-image: url("../images/chris.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.team2 div #img56 {
    background-image: url("../images/samwil.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.team2 div #img57 {
    background-image: url("../images/tony.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

/*----------------section3--------------------*/
.section3 {
    height: max-content;
    padding: 10px;
}

.articles {
    max-width: 1500px;
    margin: auto;
}

.articles h1 {
    font-family: Plus Jakarta Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    margin-top: 100px;
}

.articles2 {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 50px;
}

.articles2 div #img2 {
    background-image: url("../images/hs1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.articles2 div #img22 {
    background-image: url("../images/Rectangle\ 417.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.articles2 div #img222 {
    background-image: url("../images/Rectangle\ 418.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.card {
    min-width: 350px;
    border-radius: 10px;
    border: 1px solid var(--Neutral-300, #D6D6D6);
}

.articles2 .card-text {
    font-family: Plus Jakarta Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
}

#img33 {
    background-image: url("../images/dec18.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 290px;
}

#img331 {
    background-image: url("../images/dec21.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 290px;
}

#img332 {
    background-image: url("../images/nov29.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20px;
    width: 290px;
}

#vline {
    border-top: solid .5px rgba(7, 7, 7, .4);
    max-width: 340px;
    margin: auto;
}

.articles2 .card {
    margin: 20px;
}

/*-------subscribe to the news letter section*--------*/
.news {
    position: relative;
    border: solid 1px red;

    height: 300px;
    background-color: #F15A29;
    color: white;
    border-radius: 15px;
    max-width: 1500px;
    margin: auto;
    margin-top: 100px;
}

.newsh1 {
    width: 400px;
    margin-top: 100px;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-left: 150px;
}

#dds {
    margin-bottom: 110px;
    height: 70px;
    width: 500px;
    margin-right: 150px;
}

/*search section*/
.d-flex {
    position: absolute;
    background-color: white;
    width: 400px;
    margin-left: 50px;
    padding: 5px;
    bottom: -20px;
    border-radius: 10px;
}

.d-flex input {
    border: none;
    outline: none;
}

.d-flex button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background-color: #F15A29;
    color: white;
    width: 250px;
    border: none;
}

.d-flex button:hover {
    background-color: #F15A29
}

/*--------------------------------------footer------------------------------------------*/
footer {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: black;
    padding-top: 100px;
    margin-top: 200px;
}

/*left side of the footer*/
.footerleft {
    width: 350px;
    margin: 0px;
    margin-left: 50px;
}

.footerlogo {
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 40px;

}

.footerleft p {
    color: var(--Neutral-100, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
}

/*right side of the footer*/
.footerright {
    width: 500px;
    position: absolute;
    right: 20px;
    top: 70px;
    display: flex;
    flex-flow: wrap;
    justify-content: left;
}

.footermenu {
    width: 200px;
}

.footermenu h2 {
    color: var(--Neutral-100, #ffffff);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.footermenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.footermenu ul li a {
    color: var(--Neutral-100, #dcdbdb);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footersocials {
    width: 200px;
    height: 300px;
}

.footersocials h3 {
    color: var(--Neutral-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.footer3 {
    border-top: solid 1px rgba(255, 255, 255, .5);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
}

.footer3 p {
    color: var(--Neutral-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.footer3 p a {
    color: var(--Primary-Color, #F15A29);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
}

/*---------for screens less than 600px --------------------*/
@media screen and (max-width: 600px) {

    .conttainer {
        margin: 0px;
        position: relative;
        padding: 0px;
    }

    #img {
        width: 150px;
        height: 40px;
    }

    #nav {
        max-width: 100vw;
        padding: 10px;
    }

    /*--subscribe to our news later---*/
    .news {
        display: none;
    }

    /*-----div holding the first section---------*/
    .about{
        height: 450px;
    }

    .about .left{
        position: relative;
        max-width: 100%;
    }

    .about .left h1{
        font-size: 50px;
    }

    .about .right{
        position: relative;
        max-width: 100%;
        margin-top: 30px;
    }

    /*------div holding the images------*/
    .images{
        height: 400px;
    }

    .images .leftimg{
        height: 300px;
    }

    .images .rightimg{
        height: 300px;
    }

    /*---------section3 articles------*/
    .articles h1{
        font-size: 60px;
        max-width: 400px;
        margin: auto;
        margin-top: 130px;
    }

    /*--------footer-------------*/
    footer {
        margin-top: 50px;
        padding: 10px;
        height: fit-content;
        overflow: hidden;
    }

    .footerleft {
        margin: 0px;
    }

    .fooerlogo {
        width: 100px;
    }

    .footerright {
        position: relative;
        width: 300px;
        overflow: hidden;
        right: 0px;
        left: 0px;
        top: 30px;
    }

    .footermenu {
        margin-bottom: 30px;
    }

    .footer3 {
        position: relative;
        margin: 0px;
        margin: auto;
    }
}

@media screen and (max-width: 950px) {

    /*--------footer-------------*/
    footer{
       margin-top: 50px;
       padding: 10px;
       height: fit-content;
       overflow: hidden;
   }

   .footerleft{
       margin: 0px;
   }

   .fooerlogo{
       width: 100px;
   }

   .footerright{
       position: relative;
       width: 300px;
       overflow: hidden;
       right: 0px;
       left: 0px;
       top: 30px;
   }

   .footermenu{
       margin-bottom: 30px;
   }
   .footer3{
       position: relative;
       margin: 0px;
       margin: auto;
   }
}

@media screen and (max-width: 1150px) {

    .conttainer {
        margin: 0px;
        position: relative;
        padding: 0px;
    }


    /*--subscribe to our news later---*/
    .news {
        display: none;
    }

    /*-----div holding the first section---------*/
    .about{
        height: 450px;
        max-width: 600px;
    }

    .about .left{
        position: relative;
        max-width: 600px;
    }


    .about .right{
        position: relative;
        max-width: 100%;
        margin-top: 30px;
    }

    /*------div holding the images------*/
    .images{
        height: 400px;
    }

    .images .leftimg{
        height: 300px;
    }

    .images .rightimg{
        height: 300px;
    }

    /*---------section3 articles------*/
    .articles h1{
        font-size: 60px;
        max-width: 400px;
        margin: auto;
        margin-top: 130px;
    }

}