body {
    margin: 0px;
    padding: 0px
}

.conttainer {
    padding: 10px;
}

/*-------------------navigation bar ---------------------------*/

.container-fluid {
    background-color: white;
}

#img {
    width: 200px;
    height: 50px
}

#navbarNav ul li a {
    color: black;

}

/*-----------------contact us section-------------------*/
.section1 {
    max-width: 1300px;
    margin: auto;
    position: relative;
    margin-top: 100px;
    height: 600px;
}

.left {
    position: absolute;
    width: 35%;
}

.left h1 {
    color: var(--Neutral-800, #070707);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    /* 108.571% */
}

.left p {
    color: var(--Neutral-800, #070707);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
}

.btnn {
    position: relative;
    height: 30px;
}

.imgp {
    position: absolute;
    left: 0;
    background-image: url("../images/phone2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.aa {
    position: absolute;
    margin-left: 30px;
    text-decoration: none;
    color: var(--Neutral-800, #070707);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    /* 18px */
}

.btnn2 {
    position: relative;
    height: 30px;
    margin-top: 30px;
}

.imgp2 {
    position: absolute;
    left: 0;
    background-image: url("../images/email2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 15px;
    margin-top: 5px;
}

.right {
    position: absolute;
    right: 0;
    width: 50%;
    display: inline-flex;
    padding: 64px 56px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    background: var(--Neutral-100, #FFF);
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.10);
}

#inp {
    border-radius: 8px;
    background: var(--Neutral-200, #F3F3F3);
    display: flex;
    height: 50px;
    padding: 0px 24px 0px 24px;
    align-items: center;
}

.btnnn3 {
    display: flex;
    padding: 20px 24px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 12px;
    background: var(--Primary-Color, #F15A29);
    color: white;
}

/*-----------------------section2----------------------*/
.section2 {
    max-width: 1300px;
    margin: auto;
    margin-top: 60px;
    height: 600px;
    background-image: url(../images/imgcontact.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.card {
    margin-left: 80px;
    padding: 50px;
}

.card-title {
    color: var(--Neutral-800, #070707);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
}

.card-text {
    color: var(--Neutral-800, #070707);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
}

#btn {
    margin-top: 35px;
}

#imgp {
    margin-top: 5px;
    background-image: url("../images/cnlocation.png");
    width: 25px;
    height: 25px;
}

/*-------subscribe to the news letter section*--------*/
.news {
    position: relative;
    border: solid 1px red;

    height: 300px;
    background-color: #F15A29;
    color: white;
    border-radius: 15px;
    max-width: 1300px;
    margin: auto;
    margin-top: 200px;
}

.newsh1 {
    width: 400px;
    margin-top: 100px;
    font-family: 'THICCCBOI';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    margin-left: 150px;
}

#dds {
    margin-bottom: 110px;
    height: 70px;
    width: 500px;
    margin-right: 150px;
}

/*search section*/
.d-flex {
    position: absolute;
    background-color: white;
    width: 400px;
    margin-left: 50px;
    padding: 5px;
    bottom: -20px;
    border-radius: 10px;
}

.d-flex input {
    border: none;
    outline: none;
}

.d-flex button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    background-color: #F15A29;
    color: white;
    width: 250px;
    border: none;
}

.d-flex button:hover {
    background-color: #F15A29
}

/*--------------------------------------footer------------------------------------------*/
footer {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: black;
    padding-top: 100px;
    margin-top: 200px;
}

/*left side of the footer*/
.footerleft {
    width: 350px;
    margin: 0px;
    margin-left: 50px;
}

.footerlogo {
    background-image: url("../images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 40px;

}

.footerleft p {
    color: var(--Neutral-100, #FFF);
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-top: 40px;
}

/*right side of the footer*/
.footerright {
    width: 500px;
    position: absolute;
    right: 20px;
    top: 70px;
    display: flex;
    flex-flow: wrap;
    justify-content: left;
}

.footermenu {
    width: 200px;
}

.footermenu h2 {
    color: var(--Neutral-100, #ffffff);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.footermenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}

.footermenu ul li a {
    color: var(--Neutral-100, #dcdbdb);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.footersocials {
    width: 200px;
    height: 300px;
}

.footersocials h3 {
    color: var(--Neutral-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.footer3 {
    border-top: solid 1px rgba(255, 255, 255, .5);
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
}

.footer3 p {
    color: var(--Neutral-100, #FFF);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}

.footer3 p a {
    color: var(--Primary-Color, #F15A29);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-decoration-line: underline;
}

/*---------for screens less than 600px --------------------*/
@media screen and (max-width: 600px) {

    .conttainer {
        margin: 0px;
        position: relative;
        padding: 0px;
    }

    #img {
        width: 150px;
        height: 40px;
    }

    #nav {
        max-width: 100vw;
        padding: 10px;
    }

    /*----section1----*/
    .section1{
        max-width: 350px;
        margin: auto;
        margin-top: 50px;
    }

    .left{
        position: relative;
        width: 100%;
    }
    .right{
        position: relative;
        width: 100%;
        margin-top: 40px;
    }

    /*---section2----*/
    .section2{
        margin-top: 300px;
    }

    .section2 .card{
        margin: 0px;
        padding: 0px;
        max-width: 350px;
        margin: auto;
        padding-bottom: 20px;
        border-radius: none;
    }

    #inp{
        padding-right: 24px;
    }
    /*--subscribe to our news later---*/
    .news {
        display: none;
    }

      /*--------footer-------------*/
      footer {
        margin-top: 50px;
        padding: 10px;
        height: fit-content;
        overflow: hidden;
    }

    .footerleft {
        margin: 0px;
    }

    .fooerlogo {
        width: 100px;
    }

    .footerright {
        position: relative;
        width: 300px;
        overflow: hidden;
        right: 0px;
        left: 0px;
        top: 30px;
    }

    .footermenu {
        margin-bottom: 30px;
    }

    .footer3 {
        position: relative;
        margin: 0px;
        margin: auto;
    }
}

@media screen and (max-width: 950px) {

    /*--------footer-------------*/
    footer{
       margin-top: 50px;
       padding: 10px;
       height: fit-content;
       overflow: hidden;
   }

   .footerleft{
       margin: 0px;
   }

   .fooerlogo{
       width: 100px;
   }

   .footerright{
       position: relative;
       width: 300px;
       overflow: hidden;
       right: 0px;
       left: 0px;
       top: 30px;
   }

   .footermenu{
       margin-bottom: 30px;
   }
   .footer3{
       position: relative;
       margin: 0px;
       margin: auto;
   }
}

/*---------for screens less than 500px --------------------*/
@media screen and (min-width: 601px) and (max-width: 1000px) {

    .conttainer {
        margin: 0px;
        position: relative;
        padding: 0px;
    }

    /*----section1----*/
    .section1{
        max-width: 600px;
        margin: auto;
        margin-top: 50px;
    }

    .left{
        position: relative;
        width: 100%;
    }
    .right{
        position: relative;
        width: 100%;
        margin-top: 40px;
    }

    /*---section2----*/
    .section2{
        margin-top: 300px;
    }

    .section2 .card{
        margin: 0px;
        padding: 0px;
        max-width: 500px;
        margin: auto;
        padding-bottom: 20px;
        border-radius: none;
    }

    #inp{
        padding-right: 24px;
    }
    /*--subscribe to our news later---*/
    .news {
        display: none;
    }

}