body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.main {
    max-width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}

#chk {
    display: none;
}

.signup, .login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease-in-out;
}

.login {
    background: #573b8a;
}

.signup {
    background: #eee;
    transform: translateY(100%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

label {
    color: #fff;
    font-size: 2.3em;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    max-width: 280px;
    height: 40px;
    margin: 10px 0;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 100%;
    max-width: 280px;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    background: #6d44b8;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    background: #6d44b8;
}

#chk:checked + .main .signup {
    transform: translateY(0);
}

#chk:checked + .main .login {
    transform: translateY(-100%);
}

@media screen and (max-width: 768px) {
    .main {
        max-width: 300px;
    }
    
    input, button {
        max-width: 100%;
    }
}
