<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!--bootstrap links-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!---link for google icons-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <!---css link-->
    <link rel="stylesheet" href="../css/post.css">

</head>

<body>

    <!--------div to hold the whole page-------->
    <div class="conttainer">

        <!-------------navigaton bar----------->
        <nav class="navbar bg-white navbar-expand-lg " id="nav">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img id="img" src="../images/logo2.png" alt="" srcset=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/properties">Properties</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/post">Post</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!--div holding the post your property section-->
        <div class="post">

                <h1 class=".abr">Edit Your Listing</h1>
        </div>

        <!-----------div holding the forms-------->
        <div class="forms">

            <p class="error1" style="color: red;"></p>

            <!--div to show selected images and videos-->

            <div class="images">
                <input type="file" id="file" multiple accept='image/*' required>
                <label for="file">upload here...................</label>

                <p class="imgt" id="imgt">Upload your property pictures here</p>

            </div>

           
            <br><br><br>

            <!----------property info secion--------->
            <form>

                <h1 class="ci">Listing Info</h1>

                <br>

                <p class="error2"></p>

                <div class="row">
                    <div class="col">
                        <input type="text" class="form-control" id="title" placeholder="Listing Title"
                            ng-model="vm.property.Title">
                    </div>

                    <!--property type-->
                    <div class="col">
                        <select id="PropertyType" class="form-control" ng-model="vm.property.PropertyType" required>
                            <option value="">--Property type--</option>
                            <option value="Commercial">Commercial</option>
                            <option value="Residential"> Residential</option>
                            <option value="Single family Home">Single Family Home</option>
                            <option value="Duplex">Duplex </option>
                            <option value="Triplex">Triplex </option>
                            <option value="fourplex">Fourplex </option>

                        </select>
                    </div>

                </div>

                <br>

                <div class="row">

                    <!--listing type--->
                    <div class="col">
                        <select id="inputState" class="form-control" ng-model="vm.property.ListingType" required>
                            <option value="">---Listing Type---</option>
                            <option>For Rent</option>
                        </select>
                    </div>

                    <!--location-->
                    <div class="col">
                        <input type="text" class="form-control" id = "location" placeholder="Location" ng-model="vm.property.Location"
                            required>
                    </div>

                </div>


                <br>

                <div class="row">

                    <!--Number of bathrooms--->
                    <div class="col">
                        <input type="number" class="form-control" id = "bth" placeholder="Bathrooms"
                            ng-model="vm.property.Bathrooms" required>
                    </div>

                    <!--number of bedrooms-->
                    <div class="col">
                        <input type="number" id = "bedrooms" class="form-control" placeholder="Bedrooms" ng-model="vm.property.Bedrooms"
                            required>
                    </div>

                </div>

                <br>

                <div class="row">

                    <!--listing Price-->
                    <div class="col">
                        <input type="number" class="form-control" id = "rent" placeholder="Rent price"
                            ng-model="vm.property.ListingPrice" required>
                    </div>


                    <!--location-->
                    <div class="col">
                        <select id="parking" class="form-control parking" ng-model="vm.property.Parking" required>
                            <option value="">---Parking--- </option>
                            <option value="Street parking">Street Parking</option>
                            <option value="Assigned Parking">Assigned Parking</option>
                            <option value="Driveway">Driveway</option>
                        </select>
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col">
                        <input type="number" class="form-control" id = "sqft" placeholder="Apartment Sqft"
                            ng-model="vm.property.BuildingSqft" required>
                    </div>


                </div>

                <br>

                <div class="row row1">

                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        placeholder="Listing Description" ng-model="vm.property.description" required></textarea>

                </div>

            </form>

            <br>

            <!--------property Amenitites------->
            <h1 class="ci">Listing Amenities</h1>

            <br>

            <div class="row amn">

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "o" class="form-check-input" value="Outdoor area"
                            ng-model="vm.amenities.outdoor" id="exampleCheck1" checked="false">
                        <label class="form-check-label" for="exampleCheck1">Outdoor area</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "po" class="form-check-input" value="pool" ng-model="vm.amenities.pool"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Pool</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "v" class="form-check-input" value="vigilance"
                            ng-model="vm.amenities.vigilance" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Vigilance</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id = "l" value="Laundry" ng-model="vm.amenities.Laundry"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Laundry in unit</label>
                    </div>
                </div>

            </div>

            <br>

            <div class="row amn">

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "sc" class="form-check-input" value="Security cameras"
                            ng-model="vm.amenities.SecurityCameras" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Security cameras</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "p" class="form-check-input" value="Pets" ng-model="vm.amenities.Pets"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Pets</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "d" class="form-check-input" value="Dish Washer"
                            ng-model="vm.amenities.DishWasher" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Dish Washer</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "i" class="form-check-input" value="Internet"
                            ng-model="vm.amenities.Internet" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Internet</label>
                    </div>
                </div>

            </div>

            <br>

            <div class="row amn">

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id="e" class="form-check-input" value="Elevator"
                            ng-model="vm.amenities.Elevator" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Elevator</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "j" class="form-check-input" value="Jacuzzi" ng-model="vm.amenities.Jacuzzi"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Jacuzzi</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id ="so" class="form-check-input" value="Solar Panel"
                            ng-model="vm.amenities.solar" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Solar Panel</label>
                    </div>
                </div>

                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" id = "g" class="form-check-input" value="Garage" ng-model="vm.amenities.garage"
                            id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Garage</label>
                    </div>
                </div>

            </div>

            <br><br>

            <button type="button" id="sbtf" class="btn btn-primary btn-lg">Update this Listing

            </button>

            <p class="error1" style="color: red;"></p>

        </div>



    </div>

    <!--------------------------------------------footer---------------------------->
    <footer>

        <div class="footer2">

            <!--left side holding logo-->
            <div class="footerleft">

                <!--div holding logo-->
                <div class="footerlogo"></div>

                <!--p holding info-->
                <p>
                    Your listings will be displayed on your website.
                </p>

            </div>

            <!-----right side------>
            <div class="footerright">

                <!--footer menu-->
                <div class="footermenu">

                    <h2>FooterMenu</h2>


                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="/properties">Properties</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/post">Post</a>
                        </li>
                    </ul>

                </div>


            </div>
        </div>

        <!---->
        <div class="footer3">
            <p>
                Copyright © EstatePro | Developed by
                <a href="https://agent-web-studios.vercel.app/" target="_blank">Agent Web</a>
            </p>
        </div>
    </footer>

</body>

</html>