<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Navbar</title>
    <link rel="stylesheet" type="text/css" href="./css/signlogin.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<!---link for google icons-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
    <div class="container">
        <input type="checkbox" id="chk" aria-hidden="true">
        <div class="main">
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
					<p style="color: red;" class = "erro"></p>
                    <input type="email" name="email" placeholder="Email" ng-model="vm.login.email" required="">
                    <input type="password" name="pswd" placeholder="Password" ng-model="vm.login.password" required="">
                    <button class="login-btn loginn">Login</button>
                </form>
            </div>
            <div class="signup">
                <form>
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="txt" placeholder="Name" ng-model="vm.sign.name" required="">
                    <input type="email" name="email" placeholder="Email"  ng-model="vm.sign.email" required="">
                    <input type="password" name="pswd" placeholder="Password"  ng-model="vm.sign.password" required="">
                    <button class="signupp">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
